<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tienda CRUD</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Bienvenido a la Tienda CRUD</h1>
  <nav>
    <a href="/products/create">Crear Producto</a>
    <a href="/products/list">Lista de Productos</a>
  </nav>
</body>
</html>
